extends layout

block content
  h1 Emails
  ul
    li: a(href="v/confirm-email") Confirm Email - View
    li: a(href=`s/confirm-email/${process.env.UID}`) Confirm Email - Send
    li: a(href="v/reset-password") Reset Password - View
    li: a(href=`s/reset-password/${process.env.UID}`) Reset Password - Send
    li: a(href="v/welcome") Welcome - View
    li: a(href=`s/welcome/${process.env.UID}`) Welcome - Send
    li: a(href="v/application-submitted") Application Submitted - View
    li: a(href=`s/application-submitted/${process.env.UID}`) Application Submitted - Send
    li: a(href="v/application-received") Application Received - View
    li: a(href=`s/application-received/${process.env.UID}`) Application Received - Send
    li: a(href="v/signup") Signup - View
    li: a(href=`s/signup/${process.env.UID}`) Signup - Send
    li: a(href="v/accept-application") Accept Application - View
    li: a(href=`s/accept-application/${process.env.UID}`) Accept Application - Send
    li: a(href="v/reject-application") Reject Application - View
    li: a(href="v/share-story") Share Story - View